<div class="newCommnet-container">
  <h2>Resend confirmation instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="comment-area">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "email" %>
    </div>

    <div class="comment-area">
      <%= f.submit "Resend confirmation instructions", class: 'sign-btn' %>
    </div>
  <% end %>
  <div class="login-btn">
    <%= render "devise/shared/links" %>
  </div>
</div>  
