<head>
  <link rel="stylesheet" href="/assets/stylesheets/signup.css">
</head>
<div class="newCommnet-container"> 
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="comment-area">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
    
    <div class="comment-area">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="comment-area">
      <%= f.label :email, "Email confirmation" %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>  

    <div class="comment-area">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="comment-area">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    
    <div class="comment-area">
      <%= f.submit "Sign up", class: 'sign-btn' %>
    </div>
  <% end %> 
    <div class="login-btn">
      <%= render "devise/shared/links" %>
    </div>
</div>  


