<head>
  <link rel="stylesheet" href="/assets/stylesheets/users_show.css">
</head>
<body>
  <h1>This is the user profile</h1>
    <div class="usersShow-container">
      <div class="userShow-header">
        <div class="userShow-image">
          <%= image_tag @user.photo, alt: "User photo", class: 'user-photo' %>
        </div>
        <div class="userShow-details">
          <span id="userName"><%= @user.name %></span>
          <div id="userPostContainer">
            <span class="user-post-count">Number of posts: <%= @user.posts.count %></span>
          </div>
        </div>
      </div>
      <div class="user-bio">
        <span>Bio</span>
        <p><%= @user.bio %></p>
      </div>
      <div class="user-posts-container">
        <% @user.three_most_recent_post.each do |post| %>
          <div class="post-item-container">
            <span class="post-title"><%= post.title %></span>
            <p class="post-text"><%= post.text %></p>
            <div class="post-details">
              <div class="post-show-action">
                <span class="post-detail">Comments:
                  <%= post.comments.count %>
                </span>
                <span class="post-detail" data-target="likes_count">, Likes: <%= post.likes.count %></span>
              </div> 
              <%= button_to "Like", user_post_likes_path(@user, post), method: :post, class: "like-btn", remote: true %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="post-btn-container">
        <div class="post-btn-all">
          <%= link_to "See all posts", user_posts_path(@user) %>
        </div>
      </div>
    </div>
</body>