<h1>Here is a list of posts for a given user</h1>
<head>
  <link rel="stylesheet" href="/assets/stylesheets/posts.css">
</head>
<body>
    <div class="posts-mainContainer">
      <div class="postUser-header">
        <div class="postUser-image">
          <%= image_tag @user.photo, alt: "User photo", class: 'user-photo' %>
        </div>
        <div class="userShow-details">
          <span id="userName"><%= @user.name %></span>
          <div id="userPostContainer">
            <span class="post-user-count">Number of posts: <%= @user.posts.count  %></span>
          </div>
        </div>
      </div>
      <div class="posts-list-container">
        <%= link_to 'Add New Post', new_user_post_path(@user), class: 'add-new-btn newPostBtn' %>
        <% @posts.each do |post| %>
          <div class="post-itemContainer">
            <div class="post-content">
              <h3><%= link_to post.title, user_post_path(@user, post) %></h3>
              <p class="post-text"><%= post.text %></p>
              <div class="post-details">
              <div class="post-show-action">
                <span class="post-detail">Comments:
                  <%= post.comments.count %>
                </span>
                <span class="post-detail" data-target="likes_count">, Likes: <%= post.likes.count %></span>
              </div> 
              <%= button_to "Like", user_post_likes_path(@user, post), method: :post, class: "like-btn", remote: true %>
            </div>
            </div>
            <div class="post-comments">
              <% post.five_most_recent_comments.each do |comment| %>
                <div class="comment">
                  <span class="comment-username"><%= comment.user.name %>:</span>
                  <span class="comment-text"><%= comment.text %></span>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="post-btn-container">
          <div class="post-btn-all">
            <%= button_to "Pagination" %>
          </div>
        </div>
      </div> 
    </div>
  </body>