<h1>Here are the details for a specific post</h1>
<body>
  <div id="backContainer">
    <%= link_to '< Back', user_posts_path(@user), class: 'back-btn backCommentBtn' %>
  </div>
  <div class="post-show-container">
    <div class="postUser-Content">
      <div class="postUser">
        <div class="postUser-name">
          <h3><%= @post.title %> by <%= @user.name %></h3>
          <div class="postUser-comments">
            <span>Comments: <%= @post.comments.count %></span>
            <span>, Likes: <%= @post.likes.count %></span>
          </div>  
        </div>
        <p><%= @post.text %></p>
      </div>
      <div class="postComment-container">
        <% @post.comments.each do |comment| %>
          <div class="postComments">
            <span><%= comment.user.name %>:</span>
            <span class="comment-text"><%= comment.text %></span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="bottom-btns">
      <%= link_to 'Add New Comment', new_user_post_comment_path(@user, @post), class: 'add-new-btn' %>
      <% if can? :destroy, @post %>
        <%= link_to 'Delete Post', user_post_path(@user, @post),
        data: {turbo_method: :delete}, class: 'delete' %>
      <% end %>
  </div>
  </div>
</body>